<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="Despacho.Properties.Settings.DespachoConnectionString"
                        connectionString="Data Source=DESKTOP-0GJ4POO\SQLEXPRESS;Initial Catalog=Despacho;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>